## Importing Libraries and reading the file into a list

@https://www.geeksforgeeks.org/simple-ways-to-read-tsv-files-in-python/

In [1]:
import csv,random
with open('../data/fall-22-students.tsv','rt') as i:
    tsv = csv.reader(i,delimiter="\t")
    info = list(tsv)    
info.remove(info[0]) # removing the heading

## requesting user to select the size of each group

In [2]:
group_size = int(input("group size (integer) \n"))

group size (integer)
5

## Shuffling the list in random

In [3]:
random.shuffle(info)

## Breaking the shuffled list into size of group given by the user
@https://www.geeksforgeeks.org/break-list-chunks-size-n-python/

In [4]:
start = 0 ;end = len(info) ; groupno =1
for i in range(start, end, group_size):
    print('Group Number: %d' % (groupno))
    print(info[i:i+group_size], "\n")
    groupno += 1

Group Number: 1
[['Shah, Manish', '4333100139881963958'], ['Abisiga, Mojeed', '1756748071387330450'], ['Veeramaneni, Varsha', '-1090991306239913969'], ['Darandale, Aditi', '-3592947821904789059'], ['Kuluri, Manichandana', '-9113492615128308341']]

Group Number: 2
[['Kallem, Snehith', '296389889114347009'], ['Patil, Deeksha', '7980120123048414705'], ['Gunde, Deeksha', '4069553384325267097'], ['Doerr, Maximilian', '-241870194234947188'], ['Potlapally, Shruti Nandana', '6680005440180066297']]

Group Number: 3
[['Farahani, Parisa', '-782669854885580552'], ['Nezianya, Ndubuisi', '-1868760087748791974'], ['Arasikere Rakesh, Raveena', '2715387848376511785'], ['Shou, Wenhao', '2262113024811264944'], ['Budavi, Priyanka', '609722887760680710']]

Group Number: 4
[['Gayam, Sai Santosh Reddy', '-2863333019251892158'], ['Nimmaturi, Sai Swapnika', '8871653806563935680'], ['Annamalai, Varsha', '2732727504348557328'], ['Teri, Benjamin', '8158995515482271942'], ['Havalchi, Mufaddal', '5556700921407775642']]

Group Number: 5
[['Gabbula, Venkata Vijay Krishna', '2274622967677883996'], ['Gabbula, Sai Ram Ajay Krishna', '3430638400286662722'], ['Vidapu, Aman Tej', '7347350608443768573']]